{% extends "base.html" %}
{% block title %}Criar usuário{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-8">
        <div class="surface-card p-4">
            <div class="card-body p-0">
                <h1 class="h4 mb-3">Criar novo usuário</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-accent">Criar usuário</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}